html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url(../public/asset/Pokeball.png);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* header */

nav{
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 20px;
  padding: 20px;

}

.title-header{
  margin-left: 100px;
}


.navbar-item{
  display: inline ;
  margin: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.navbar-item.is-active{
  color: rgb(255, 255, 255);
  background-color: red;
}
.navbar-item:hover{
  background-color: rgb(182, 22, 22);
}



/* components button */


.title-header{
  cursor: pointer;
}


.btn-nav{
  background-color: rgba(99, 102, 99, 0.479);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  margin-right: 20px;
}
.btn-nav:hover{
  transition-duration: 1.5s;
}

.btn-cart{
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  width: 100%;
}

.btn-cart:hover{
  background-color: rgb(70, 77, 77);
  transition-duration: 1.5s;
}


/* content */
.pokedex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.card-pokedex{
  display: inline-block;
  margin: 100px 20px 20px 20px;
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.9);
  text-align: center;
  padding: 30px 30px 30px 30px;
  background-color: rgb(0, 0, 0);
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.card-pokedex:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition-duration: 1.5s;
  background-image: url(../public/asset/Pokeball.png);
  background-size: 500px;
}
.card-description{
  text-align: justify;
}
.citation{
  color: white;
  background-color: aqua;
  border: 2px solid red;
}

.card-chuck{
  display: inline-block;
  margin: 100px 20px 20px 20px;
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.9);
  text-align: center;
  padding: 30px 30px 30px 30px;
  background-color: rgb(117, 54, 54);
  font-weight: 900;
}
.card-chuck:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition-duration: 1.5s;
  background: rgb(128, 104, 104);
  background-size: 500px;
}










